svg {
z-index:1;
position:absolute;
}

.inputs_parent {
z-index:2;
position:relative;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
  /*r: 5;*/ /* this doesn't seem to work */
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

.bomb {
    fill:red;
}