
.inputbox {
    style="display: inline-block; 
    width: 240px; 
    text-align: right;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
  /*r: 5;*/ /* this doesn't seem to work */
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}