svg {
    z-index:1;
    position:absolute;
}

#leftbar {
    z-index:2;
    position:absolute;
    width:300px;
    text-align:center;
}

#flag_counter  {
    z-index:2;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    top:20px;
}

#flag-counter-text{
    float:left;
}

#flag-counter-value {
    float:right;
}




#timer  {
    z-index:2;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    /*top:20px;*/
}

#timer-text{
    float:left;
}

#timer-value { 
    float:right;
}




#shade {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255,255,255,0.7);
    z-index: 3;
}

#contact_info_form {
    z-index:4;
    position:relative;
    /*position:relative;
    float:right;
    margin-right:10px;
    */
    margin-left: auto;
    margin-right: auto;
    vertical-align:middle;
    width:500px;
    top:300px;
}

.hidden {
    display:none;
}

.node {
  stroke: black;
  stroke-width: 1.5px;
}

.halo {
    fill-opacity:0;
    stroke:red;
    stroke-width: 3px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}
