<!DOCTYPE html>
<head>
    <meta charset="utf-8">   
    <!--     
    <script src="lib/d3/d3.min.js"></script>
    <script src="lib/jquery-1.11.1.min.js"></script>    
    <link rel="stylesheet" type="text/css" href="lib/pure-min.css"> -->
    <script src="{{ url_for('static', filename='lib/d3/d3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-1.11.1.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pure-min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">    
    
    <!--
    <script src="http://d3js.org/d3.v3.min.js"></script>    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
      rel="stylesheet">
    -->      
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
        
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}"/>
<body>    
<div id="banner-div">
    <img id="banner" src="{{ url_for('static', filename='img/ERI_Logo_2011_1600x316.png') }}">
</div>

<div id=shade class="hidden"></div>
<div id="animation"></div>

<div id="chart"></div>

<!-- guidance for form layout: http://purecss.io/forms/ -->
<div id="leftbar">
<!--
    <div id="custom-difficulty-div" class="inputs_parent">
        <form class="pure-form pure-form-aligned">
            <fieldset>
              <div class="pure-control-group">
                  <label for="n_nodes" class="inputbox">
                         Nodes: <span id="n_nodes-value"></span>
                  </label>
                  <input type="number" min="0" max="1000" step="5" value="50" id="n_nodes" class="forminput">
              </div>
              <div class="pure-control-group">
                  <label for="n_edges" class="inputbox">
                         Edges: <span id="n_edges-value"></span>
                  </label>
                  <input type="number" min="0" max="1000" step="5" value="150" id="n_edges" class="forminput">
              </div>
                <div class="pure-control-group">
                  <label for="n_bombs" class="inputbox">
                         Bombs: <span id="n_bombs-value"></span>
                  </label>
                  <input type="number" min="0" max="1000" step="5" value="15" id="n_bombs" class="forminput">
                </div>    
            </fieldset>
            <div id="app-reset-button-div">
            <button type="button" class="pure-button" id="app-reset-button">New Game</button>
            </div>
        </form>
    </div>
    -->
    <div id="difficulty-selector-div">
        <span id="difficulty-text"><h2> Select Difficulty </h2></span>
        <form action="">
            <input type="radio" name="difficulty" id="radio-easy" value="Easy" checked="true">Easy<br>
            <input type="radio" name="difficulty" id="radio-medium" value="Medium">Medium<br>
            <input type="radio" name="difficulty" id="radio-hard" value="Hard">Hard
        </form>
        <div id="diff-newgame-button-div">
            <button type="button" class="pure-button newgame-button" id="diff-newgame-button">New Game</button>
        </div>
    </div>
</div>

<div id="center-box">

    <div id="flag_counter" class="reactive">
        <div id="flag-counter-text">
            <h2 id="flag-counter-label">Flags Remaining:</h2>
        </div>
        <div id="flag-counter-value" class="value">0</div>
    </div>
    
    <div id="timer" class="reactive">
        <div id="timer-text">
            <h2 id="timer-label">Seconds Elapsed:</h2>
        </div>
        <div id="timer-value" class="value">0</div>
        
    </div>
</div>
    
    <div id="contact_info_form" class="hidden">
        
        <p>You <span id="win-text">lose</span>!</p>
        <form class="pure-form pure-form-aligned">
            <fieldset>
                  <div class="pure-control-group">
                      <label for="name" class="inputbox">
                             Name: <span id="name-value"></span>
                      </label>
                      <input type="text" name=name class="forminput">
                  </div>                  
                  <div class="pure-control-group">
                      <label for="company " class="inputbox">
                             Company: <span id="company-value"></span>
                      </label>
                      <input type="text" name=company class="forminput">
                  </div>
                  <div class="pure-control-group">
                      <label for="email " class="inputbox">
                             eMail: <span id="email-value"></span>
                      </label>
                      <input type="text" name=email class="forminput">
                  </div>
            </fieldset>
            <div id="buttons-container">
                <div id="contact-submit-button-div">
                    <button type="button" class="pure-button newgame-button contact-submit-button" id="contact-newgame-button">Play Again</button>
                </div>
                <div id="scoreboard-button-div">
                    <button type="button" class="pure-button contact-submit-button" id="scoreboard-button">Scoreboard</button>
                </div>
            </div>
        </form>
    </div>
    
    <!--<div id="scoreboard" class="hidden"> -->
    <div id="scoreboard" style="display:none;">
        <div id="scoreboard-table-div">
        <table id="scoreboard-table" class="pure-table">
            <thead>
                <tr>
                    <th>Difficulty</th>
                    <th>Name</th>
                    <th>Company</th>
                    <th>Time</th>
                </tr>
            </thead>
            
        </table>
        </div>
        <div id="scoreboard-newgame-button-div">
            <button type="button" class="pure-button newgame-button" id="scoreboard-newgame-button">Play Again</button>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='js/random_graph.js') }}"></script>
    <script src="{{ url_for('static', filename='js/forcelayout.js')  }}"></script>
    <script src="{{ url_for('static', filename='js/timer.js')        }}"></script>
    <script src="{{ url_for('static', filename='js/game.js')         }}"></script>
    <script src="{{ url_for('static', filename='js/momentumFriction.js')}}"></script>
    
    
<!--
      <script type=text/javascript>
    $(function() {
      $('#contact-submit-button').bind('click', function() {
        $.getJSON($SCRIPT_ROOT + '/_submit_contact_info', {
          fname: $('input[name="fname"]').val(),
          lname: $('input[name="lname"]').val(),
          company: $('input[name="company"]').val()
      //  }, function(data) {
      //    $("#result").text(data.result);
      //  });
      //
      }, function(data) { return false;
      });
        refreshGraph()
        return false;
      });
    });
  </script>
-->    
    <!--
    <script src="js/random_graph.js"></script>
    <script src="js/forcelayout.js"></script>
    <script src="js/game.js"></script>
    <script src="js/stats.js"></script>
    -->

    <script>refreshGraph()</script>